<header class="header">
    
        <div class="app-title-container">
            <span class="title">fakeIUP</span>
        </div>
        <div class="nav-menu-container">
            <div>
                <a (click)="navigate('/')">HOME</a>

            </div>

            <div>
                <a (click)="navigate('/contabilita')">CONTABILITA'</a>

            </div>

            <div>
                <a (click)="navigate('/magazzino')">MAGAZZINO</a>
                <!-- <a (click)="navigate('/contabilita/fattura')">FATTURA</a> -->
            </div>
        </div>


   


    <!-- <div class="header-row">
        <div class="search-container">

            <input type="text" class="search-input" placeholder="Cerca..." />
            <button class="search-button">🔍</button>
        </div>

    </div> -->


</header>