<header class="header">
    <div class="header-container">
        <span class="logo">fakeIUP</span>
    </div>
    
    <div class="div-search">
        <input type="text" class="search-input" placeholder="Cerca..." />
        <button class="search-button">🔍</button>
    </div>
    <div class="nav-menu">
        <ul>
            <li>
                <a (click)="navigate('/')">HOME</a>

            </li>
            <li>
                <a (click)="navigate('/contabilita')">CONTABILITA'</a>

            </li>
            <li>
                <a (click)="navigate('/magazzino')">MAGAZZINO</a>

            </li>
            <!-- <li>
                <a (click)="navigate('/contabilita/fattura')">FATTURA</a>

            </li> -->
        </ul>
    </div>

</header>
