
<!-- <div class="card-container">
    <div *ngFor="let item of posts" class="card">
        <h5>{{item.userId}} </h5>
        <h3>{{item.title|titlecase}}</h3>
        <p>{{item.body}}</p>
        <button mat-fab color="warn" (click)="deletePost(item)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="modifyPost(item)">
            <mat-icon>modify</mat-icon>
        </button>

    </div>
</div> -->

<!-- <button mat-fab color="warn" (click)="modifyPost(item)">
    <mat-icon>modify</mat-icon>
</button> -->
<mat-slide-toggle>Toggle me!</mat-slide-toggle>