<div class="modal-content">
<h2>New Post</h2>
<!-- <form class="example-form"> -->
   <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label> 
      <input matInput  name="title" [(ngModel)]="formData.title" placeholder="title">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Body</mat-label>
      <textarea matInput name="body" [(ngModel)]="formData.body" placeholder="body"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="submitForm()">Submit</button>
    <button type="button" (click)="closeModal()">Close</button>
  <!-- </form> -->
</div>